 <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="headermeio">
      Custom Clothes
    </ion-title>

    <!-- Botão do Favorito -->
    <ion-button slot="end" fill="clear" color="dark">
      <ion-icon slot="icon-only" name="heart-outline" color="dark"></ion-icon>
    </ion-button>
    <!-- Botão do Favorito -->

    <!-- Abrir Carrinho -->
    <ion-button slot="end" fill="clear" color="dark">
      <ion-icon slot="icon-only" name="bag-outline" color="dark"></ion-icon>
    </ion-button>
    <!-- Abrir Carrinho -->

    <!--Abrir Menu-->
    <ion-button slot="start" fill="clear" (click)="openFirst()">
      <ion-icon slot="icon-only" name="menu-outline" color="dark"></ion-icon>
    </ion-button>
    <!--Abrir Menu-->

  </ion-toolbar>
</ion-header>



    <!--Menu-->
    <ion-menu side="start" menuId="first" contentId="main">
      <ion-content>
        <div>
          <img src="https://assets.turbologo.com/blog/pt/2019/11/19133547/gaming-logo-cover.jpg" alt="receba">
        </div>
        <ion-list>
          <ion-item class="menufonte"><ion-icon name="search-outline" class="espaco"></ion-icon>Busca</ion-item>
          <ion-item class="menufonte"><ion-icon name="list-outline" class="espaco"></ion-icon>Categoria</ion-item>
          <ion-item class="menufonte"><ion-icon name="person-outline" class="espaco"></ion-icon>Conta</ion-item>
        </ion-list>
      </ion-content>
      <ion-label class="version">v0.3</ion-label>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
    <!--Menu-->

    <!--Slides-->
    <div>
      <ion-slides [options]="option" pager="true" class="teste">
        <ion-slide>
          <ion-card>
            <img src="">
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <img src="">
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <img src="">
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  <!--Slides-->


<ion-content>

  <div>
    <ion-slides [options]="round">
      <ion-slide>
        <div style="border-radius: 100%;">
          <ion-card-header style="width: 125px;">
            <ion-card-title>
              <img src="../../assets/slideround.jpg">
            </ion-card-title>
            <ion-label style="font-size: 15px;">Ofertas</ion-label>
          </ion-card-header>
        </div>
      </ion-slide>

      <ion-slide>
        <div style="border-radius: 100%;">
          <ion-card-header style="width: 125px;">
            <ion-card-title>
              <img src="../../assets/slideround.jpg">
            </ion-card-title>
            <ion-label style="font-size: 15px;">Novidades</ion-label>
          </ion-card-header>
        </div>
      </ion-slide>

      <ion-slide>
        <div style="border-radius: 100%;">
          <ion-card-header style="width: 125px;">
            <ion-card-title>
              <img src="../../assets/slideround.jpg">
            </ion-card-title>
            <ion-label style="font-size: 15px;">Feminino</ion-label>
          </ion-card-header>
        </div>
      </ion-slide>

      <ion-slide>
        <div style="border-radius: 100%;">
          <ion-card-header style="width: 125px;">
            <ion-card-title>
              <img src="../../assets/slideround.jpg">
            </ion-card-title>
            <ion-label style="font-size: 15px;">Masculino</ion-label>
          </ion-card-header>
        </div>
      </ion-slide>

      <ion-slide>
        <div style="border-radius: 100%;">
          <ion-card-header style="width: 125px;">
            <ion-card-title>
              <img src="../../assets/slideround.jpg">
            </ion-card-title>
            <ion-label style="font-size: 15px;">Infantil</ion-label>
          </ion-card-header>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
